.actionCard {
  transition: 
    background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out,
    transform 0.15s ease-in-out,
    opacity 0.3s ease-in-out;
}

.currentRandom {
  background-color: rgba(0, 0, 250, 0.3) !important;
  box-shadow: -0.1em -0.1em 0.5em 0.2em gray !important;
  transform: translate(0.2em, 0.2em);
}

.actionCard.fullscreen {
  opacity: 0 !important;
  z-index: -10 !important;
  width: calc(100vw - 4rem) !important;
  max-width: 30rem !important;
}

.actionCard.fullscreen.picked {
  font-size: 1.5em;
  box-shadow: 0 0 0 1000rem rgba(0, 0, 0, 0.8) !important;
  opacity: 1 !important;
  z-index: 15 !important;
}
